@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */
.bg-primary {
    background: #1c0119;
}

.bg-secondery {
    background: #1E293B;
}

.bg-accent {
    background: #7477FF;
}

.text-accent {
    color: #7477FF;
} 

nav li a:hover {
    color: #7477FF;
}

/* hero */
h1 {
    font-family: 'Pacifico';
    line-height: 1.5 !important;
}
